#encabezado{
    
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 95px;
    padding-top: 15px;
    font-size: 50px;
    text-indent: 25px ;
    text-shadow: 2px 2px red;
    
}
#logo{
    background-color: black;
}



